.btn button{
    background-color: inherit;
    color:rgb(33 129 136);
    padding: 6px 20px;
    border-radius: 3px;
    border: 1px solid rgb(33 129 136);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.btn button:hover{
    background-color: rgb(33 129 136);
    color:white
}

.btn{
    border-bottom: 2px solid rgba(33, 129, 136, 0.425);
    margin-bottom: 2rem;
}